@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  padding: 1.5rem 5rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header_logo {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 700;
}

.logo_break {
  color: #0F172A;
}

.logo_io {
  color: #86198F
}

.navmenu_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navmenu_item {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  color:#0F172A;
}

.navmenu_button {
  background-color: #C026D3;
  border-radius: 1.125rem;
  padding: 0.75rem 1.5rem;
  color: #FFFFFF;
}

.navmenu_icon {
  display: none;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .navmenu_list {
    display: none;
  }

  .navmenu_icon {
    display: block;
  }
}